<app-loader></app-loader>
<mat-toolbar color="warn">
  <span>My ToDos</span>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    routerLink="/home"
    routerLinkActive="activebutton"
    class="example-icon home-icon"
    aria-label="Example icon-button with home icon"
  >
    <mat-icon>home</mat-icon>
  </a>
  <span id="title">Home</span>
  <a
    mat-icon-button
    routerLink="/favourites"
    routerLinkActive="activebutton"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </a>
  <span id="title">Favourites</span>
  <a
    mat-icon-button
    routerLink="/folders"
    routerLinkActive="activebutton"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>folder</mat-icon>
  </a>
  <span id="title">Folders</span>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
