.container {
  padding: 19px;
}
.activebutton {
  color: #080708;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
mat-toolbar > * {
  margin: 0 16px;
}
