<div class="container">
  <h1 mat-dialog-title>Create a New ToDo!</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="data.title"
        name="title"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Details</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="data.details"
        name="details"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Folder</mat-label>
      <input matInput type="text" [(ngModel)]="data.folder" name="folder" />
    </mat-form-field>

    <section>
      <h4 style="margin: 0">{{ data.progress }}% Complete</h4>
      <mat-slider
        matInput
        [(ngModel)]="data.progress"
        name="progress"
        value="0"
      ></mat-slider>
    </section>

    <section>
      <mat-checkbox [(ngModel)]="data.favourite" name="favourite">
        Favourite
      </mat-checkbox>
    </section>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      [disabled]="!data.title || !data.details"
      [mat-dialog-close]="data"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>
