.courses-containers {
  display: flex;
  justify-content: space-around;
}
.courses-list {
  width: 100%;
}

.float {
  position: absolute;
  height: 80px !important;
  width: 80px !important;
  margin: 0 25px 25px 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  font-size: 55px;
  width: auto;
  height: auto;
}

.float:hover {
  background-color: #586cdd;
}
