<div class="courses-containers">
  <mat-card>
    <mat-card-header>
      <mat-card-title> ToDo List </mat-card-title>
      <mat-card-subtitle *ngIf="this.currentFolder != null">
        Folder: {{ this.currentFolder }}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="courses-list">
      <app-to-do-list
        [todoList]="apiTodos"
        (delete)="deleteApiTodo($event)"
        (select)="selectCurrentTodo($event)"
        (increase)="increaseProgress($event)"
        (decrease)="decreaseProgress($event)"
        (save)="updateTodo($event)"
        (changeFavourite)="changeFavourite($event)"
      ></app-to-do-list>
    </div>
  </mat-card>
  <button class="float" mat-fab color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
